    .caixa{
        
        height: 75%;
        width: 80%;
        position: relative;
        top: 20%;
        left: 10%;
        border: solid gray 2px;
    }

    
        
    .foto{
        height: 365px;;
    }

    
   