.enredo {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.enredo__titulo {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.enredo__texto {
    line-height: normal;

    margin-bottom: 1rem;
}

.enredo__texto--destaque {
    color: var(--cinza-escuro);
    font-weight: 700;
}

.enredo__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

.enredo__imagem{
    display: none;
    width: 400px;
}

.tamanho__grafico{
    height: 1400px;
}

@media screen and (min-width: 1024px) {

    .enredo{
        display: flex;
    }

    .enredo__conteudo{
        margin-right: 3rem;
    }

    .enredo__titulo{
        text-align:left
    }

    .enredo__texto--divisao{
        border-bottom: 1px solid var (--cinza-medio);

        padding-bottom: 1.5rem;
    }

    .enredo__imagem{
        display: block;
    }
    
}